.App {
  text-align: center;
}
label {
    display: block;
}

input[type=text] {
    width: 50%;
}
ul {
    margin-top: 20px;
    padding: 0;
    width: 50%;
}
ul > li {
    list-style-type: none;

}
.alert > label{
    padding-left: 10px;
}
